<% if plate.active || (current_user.present? && current_user.id = plate.place.user.id) %>
<div class="card border-0">
  <% if plate.favored %>
  <div class="card-header bg-warning text-white">
    <i class="fa fa-star fa-2x float-right"></i>
    <strong>Recomendado</strong>
  </div>
  <% end %>
  <%= link_to image_tag(plate.picture.url(:medium), class: "card-img-top", alt: plate.name), place_plate_path(plate.place, plate) %>
  <div class="card-body">
    <%= link_to 'Ver', place_plate_path(plate.place, plate), class: 'btn btn-sm btn-primary float-right' %>
    <% if current_user.present? %>
      <% if current_user.id = plate.place.user.id %>
      <%= link_to 'Editar', edit_place_plate_path(plate.place, plate), class: 'btn btn-sm btn-light float-right' %>
      <% end %>
    <% end %>
    <h5 class="card-title"><%= plate.name %></h5>
    <% plate.tags.split(',').each do |tag| %>
      <span class="btn-outline-secondary btn-sm"><%= tag.strip %></span>
    <% end %>
  </div>
</div>
<% end %>
