<%= form_for([@place, plate]) do |form| %>
  <% if plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
      <% plate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :plate_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :picture %>
      <%= image_tag plate.picture.url(:medium), class: "img-fluid" %>
      <%= form.file_field :picture, class: "form-control" %>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :favored %>
          <%= form.check_box :favored, id: :plate_favored %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :active %>
          <%= form.check_box :active, id: :plate_active %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :price %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= form.number_field :price, id: :price, class: "form-control" %>
        <span class="input-group-addon">.00</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :tags %>
      <%= form.text_field :tags, id: :plate_tags, 'data-role'=>'tagsinput', class: "tags" %>
    </div>
    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, id: :plate_content, class: "form-control editor" %>
    </div>
  </div>
</div>
  <p align="center">
    <%= form.submit "Save", class: "btn btn-primary btn-lg" %>
  </p>
<% end %>
