<div class="container">
  <%= render "places/card", place: @place %>

  <div class="card py-2">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-7">
          <div class="btn btn-danger btn-lg float-right"><%= '$' + number_with_delimiter(@plate.price).to_s %></div>
          <h2><%= @plate.name %></h2>
          <%= @plate.content.html_safe %>
          <p>Views: <%= @plate.views %></p>
          <div class="text-success d-inline-block"><i class="fa fa-star-half-o"></i><%= @plate.rank %></div>
          <% @plate.tags.split(',').each do |tag| %>
            <%= link_to tag.strip, '/places?q='+tag.strip, class: 'btn-outline-secondary btn-sm d-inline-block' %>
          <% end %>
        </div>
        <div class="col-sm-5">
          <%= link_to image_tag(@plate.picture.url(:medium), class: 'img-fluid'), @plate.picture.url, :data => { :fancybox => '', :caption => @plate.name }  %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-7">
          <div class="fb-comments" data-width="" data-href="<%= request.url %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>
