<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @place.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @place.slug %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @place.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @place.rank %>
</p>

<p>
  <strong>Views:</strong>
  <%= @place.views %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @place.lng %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @place.expires_at %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
