<%= form_with(model: token, local: true) do |form| %>
  <% if token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
      <% token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :token_user_id %>
  </div>

  <div class="field">
    <%= form.label :app_id %>
    <%= form.text_field :app_id, id: :token_app_id %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :token_token %>
  </div>

  <div class="field">
    <%= form.label :expires_at %>
    <%= form.datetime_select :expires_at, id: :token_expires_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
