<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Meniuapp</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all' %>

</head>

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11&appId=1612575972094307&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<header>
		<%= render "partials/header" %>
	</header>
	<section>
		<%= render "partials/alerts" %>
		<%= yield %>
	</section>
	<footer>
		<div class="container">
			<p>&copy; 2017 By <a href="http://kalvinman.com">Kalvin Manson</a></p>

		</div>
	</footer>

	<%= javascript_include_tag 'application' %>
</body>
</html>
